:root {
  --color0: #ffffff;
  --color1: #a5d7e8;
  --color2: #576cbc;
  --color3: #19376d;
  --color4: #132a54;
  --color5: #0b2447;
  --color6: #000000;
  --font: #2e3440;
  --link1: #4ba69d;
  --link2: #007070;
}

body {
  background-color: var(--color0);
  color: var(--font);
  font-size: 14pt;
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
}
.hero {
  width: 200px;
  height: 200px;
  margin: auto;
}

.name {
  text-align: center;
  font-size: 36px;
  color: var(--color5);
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}

nav {
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
nav ul {
  padding-left: 0;
  width: 100%;
  margin: auto;
  list-style: none;
  display: flex;
  justify-content: center;
}
nav ul li:nth-child(1) {
  border-bottom: 4px solid var(--color1);
}
nav ul li:nth-child(2) {
  border-bottom: 4px solid var(--color2);
}
nav ul li:nth-child(3) {
  border-bottom: 4px solid var(--color3);
}
nav ul li:nth-child(4) {
  border-bottom: 4px solid var(--color4);
}
nav ul li:nth-child(5) {
  border-bottom: 4px solid var(--color5);
}
nav ul li {
  padding: 0.5rem;
  display: inline;
  min-width: 15%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
}
.bar {
  display: flex;
}
.bar .segment {
  height: 0.7rem;
  flex-grow: 1;
}
.bar .segment:nth-child(1) {
  background-color: var(--color1);
}
.bar .segment:nth-child(2) {
  background-color: var(--color2);
}
.bar .segment:nth-child(3) {
  background-color: var(--color3);
}
.bar .segment:nth-child(4) {
  background-color: var(--color4);
}
.bar .segment:nth-child(5) {
  background-color: var(--color5);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding-top: 2rem;
  line-height: 1;
}
a {
  color: var(--link1);
  text-decoration: underline;
}
a:visited {
  color: var(--link2);
}
a:hover {
  text-decoration: underline;
}

article {
  max-width: 780px;
  margin: auto;
  padding: 1rem;
}
article h1 {
  font-size: 3rem;
}
article h2 {
  font-size: 2rem;
}
article h3 {
  font-size: 1.5rem;
}
article p {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

article.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  padding-right: 1rem;
}
article.homepage .container section {
  padding-left: 2rem;
}
article.homepage .container section p {
  padding-bottom: 0.8rem;
}
article.homepage .container section ul {
  margin: 0;
  padding-bottom: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
img {
  max-width: 100%;
  display: block;
}
